.container-1, .container-2 , .container-3, .container-4, .container-5 {
    /*border: 2px solid rgb(145, 47, 47);*/
    width: 90%;   
    margin: 10px auto; 
    padding: 5px; 
    text-align: left;
  
 }


#logo-opt-ppal{
    max-width: 100%;
    align-self:flex-start;
    margin-right: 200px;


}

 .flex-box-container-1 {
    display: flex;
    border: 1px solid rgb(163, 22, 22);
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:left;  
    margin: 5px;
 }

 .flex-box-container-2 {
   
  
   /*border: 5px solid green;*/
   border: 1px solid black;
   font-size:12px;
   display: flex;
   padding: 10px;
   flex-wrap: wrap;
   flex-direction:row;
   justify-content: space-around;  
}


.flex-box-container-2 div{

   /*border: 5px solid green;
   border: 3px solid red;*/
   padding: 0px;
   flex: 1;
   text-align: center;
   width: 50%;
  

}


 .flex-box-container-2 button{
    align-self: flex-end;
 }

 .flex-box-container-2 legend{

   /*color: red;*/
   text-align: left;
   font-size: 12;
   
}



form {
   border: 3px solid blue;
   height: 30%;

}
 

fieldset {
   /*border: 3px solid green;*/
   text-align: left;

}

.flex-box-informacion label {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   text-align: left;
   width: 450px;
   line-height: 26px;
   margin-bottom: 5px;
 }

/* .flex-box-informacion, .flex-box-resultados {
 border: 3px solid blue;
}*/


.flex-box-resultados label {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   text-align: right;
   width: 350px;
   line-height: 26px;
   margin-bottom: 5px;
 }
 

 input {
   height: 20px;
   display: flex;
   flex: 0 0 200px;
   margin-left: 10px;
  
 }

 select{
   height: 20px;
   flex: 0 0 300px;
   margin-left: 10px;
   margin-bottom: 5px; /* Espaciado inferior */
   width: 300px;
 }

.tableResults {
   border-collapse: collapse;
   margin-top: 10px;
   margin-bottom: 20px;
   margin-left: 50px;
 }

 .tableResults, .tableResults th, .tableResults td {
width: 100%;
 }

.tableResults th, .tableResults td {

   
   border:    1px solid blue;
   background-color: rgb(241, 235, 235);
   font-size: 10;
   width: auto;
   
   
    }

    .alarma{
      color: red;
      font-size: 16;
      font-family: Verdana, Geneva, Tahoma, sans-serif ;
      font-style: italic;

    }

    h4{  
      color: blue;

   .plunger-table-wrapper {
      margin: 12px 0 40px;
      width: 100%;
      overflow-x: auto;
   }

   .plunger-table {
      margin-top: 10px;
      border-collapse: separate;
      border-spacing: 0;
      background-color: #0f1c33;
           /* background-color: #dce1eb;*/
      color: #f4f7ff;
      border-radius: 6px;
      overflow: hidden;
   }

   .plunger-table th,
   .plunger-table td {
      text-align: center;
      border: 1px solid transparent;
      /*background-color: #15284a;*/
      background-color: #dce1eb;
      color: #e8efff;
      vertical-align: middle;
      font-size: 12px;
      padding: 7px 10px;
   }

   .plunger-table th {
      background-color: #0b4c8f;
           
      color: #f7fbff;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.4px;
   }

   .plunger-table tbody tr:nth-child(even) td {
      background-color: #11213f;
            background-color: #dce1eb;
   }

   .plunger-table td:first-child,
   .plunger-table th:first-child {
      border-left: 1.5px solid #0f85ff;
   }

   .plunger-table td:nth-child(even),
   .plunger-table th:nth-child(even) {
      border: 1.5px solid #f6a123;
   }

   .plunger-table td:nth-child(odd):not(:first-child),
   .plunger-table th:nth-child(odd):not(:first-child) {
      border: 1.5px solid #8ad24b;
   }

   .plunger-table tbody tr:last-child td {
      border-bottom: 1.5px solid #0f85ff;
   }

   .plunger-table td a {
      display: inline-block;
      padding: 4px 8px;
      color: #74d9ff;
      text-decoration: none;
      font-weight: 600;
   }

   .plunger-table td a:hover,
   .plunger-table td a:focus {
      text-decoration: underline;
      color: #ffd86b;
   }
      font-size: 16px;
      font-family: Verdana, Geneva, Tahoma, sans-serif ;
     

    }




/* Estilo general para los botones */
button {
    background-color: #3a70aa; /* Color de fondo azul */
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
    font-weight: bold;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 15px 10px; /* Espaciado externo */
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

/* Cambiar el color al pasar el mouse */
button:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

/* Cambiar el color al hacer clic */
button:active {
    background-color: #003f7f; /* Azul aún más oscuro */
}

    #resumenOpciones {
    display: block; /* Asegura que el elemento ocupe toda la línea */
    margin-top: 15px; /* Espaciado superior */
    text-align: left; /* Alineación del texto */
}


